{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/api-padawan","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["token <OCTOKIT_ACCESS_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4953"], "X-Ratelimit-Reset":["1388254804"], "Last-Modified":["Thu, 14 Nov 2013 05:26:47 GMT"], "Etag":["\"2db82f0cf98a3e38d9cdbd09dd6b029d\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["user"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","string":"{\"login\":\"api-padawan\",\"id\":3513548,\"avatar_url\":\"https://gravatar.com/avatar/becfacf16d1c453662cc46abf5b6f0f9?d=https%3A%2F%2Fidenticons.github.com%2F4f0e7cb0d6e4d446019917131c4ae5ea.png&r=x\",\"gravatar_id\":\"becfacf16d1c453662cc46abf5b6f0f9\",\"url\":\"https://api.github.com/users/api-padawan\",\"html_url\":\"https://github.com/api-padawan\",\"followers_url\":\"https://api.github.com/users/api-padawan/followers\",\"following_url\":\"https://api.github.com/users/api-padawan/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/api-padawan/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/api-padawan/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/api-padawan/subscriptions\",\"organizations_url\":\"https://api.github.com/users/api-padawan/orgs\",\"repos_url\":\"https://api.github.com/users/api-padawan/repos\",\"events_url\":\"https://api.github.com/users/api-padawan/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/api-padawan/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":null,\"company\":null,\"blog\":null,\"location\":\"San Francisco, CA\",\"email\":\"wynn.netherland+api-padawan@gmail.com\",\"hireable\":false,\"bio\":null,\"public_repos\":1,\"public_gists\":21,\"followers\":1,\"following\":3,\"created_at\":\"2013-02-08T18:07:57Z\",\"updated_at\":\"2013-11-14T05:26:47Z\"}"},"http_version":null},"recorded_at":"Sat, 28 Dec 2013 18:08:15 GMT"},{"request":{"method":"get","uri":"https://api.github.com/users/api-padawan/starred?per_page=100","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["token <OCTOKIT_ACCESS_TOKEN>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4952"], "X-Ratelimit-Reset":["1388254804"], "Etag":["\"75c5fc32461aab83c683169b2b4d3c09\""], "X-Oauth-Scopes":["user, public_repo, repo, gist"], "X-Accepted-Oauth-Scopes":["repo, repo:status, repo:deployment, public_repo, delete_repo, user, user:email, user:follow, admin:org, write:org, read:org, gist, site_admin, user:assets, user:assets:read"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","string":"[{\"id\":417862,\"name\":\"octokit.rb\",\"full_name\":\"octokit/octokit.rb\",\"owner\":{\"login\":\"octokit\",\"id\":3430433,\"avatar_url\":\"https://gravatar.com/avatar/43f38795089d56a2a7092b7d0c71fa76?d=https%3A%2F%2Fidenticons.github.com%2F03d194405d634a23046cdc5de650eb58.png&r=x\",\"gravatar_id\":\"43f38795089d56a2a7092b7d0c71fa76\",\"url\":\"https://api.github.com/users/octokit\",\"html_url\":\"https://github.com/octokit\",\"followers_url\":\"https://api.github.com/users/octokit/followers\",\"following_url\":\"https://api.github.com/users/octokit/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/octokit/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/octokit/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/octokit/subscriptions\",\"organizations_url\":\"https://api.github.com/users/octokit/orgs\",\"repos_url\":\"https://api.github.com/users/octokit/repos\",\"events_url\":\"https://api.github.com/users/octokit/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/octokit/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/octokit/octokit.rb\",\"description\":\"Ruby toolkit for the GitHub API\",\"fork\":false,\"url\":\"https://api.github.com/repos/octokit/octokit.rb\",\"forks_url\":\"https://api.github.com/repos/octokit/octokit.rb/forks\",\"keys_url\":\"https://api.github.com/repos/octokit/octokit.rb/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/octokit/octokit.rb/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/octokit/octokit.rb/teams\",\"hooks_url\":\"https://api.github.com/repos/octokit/octokit.rb/hooks\",\"issue_events_url\":\"https://api.github.com/repos/octokit/octokit.rb/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/octokit/octokit.rb/events\",\"assignees_url\":\"https://api.github.com/repos/octokit/octokit.rb/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/octokit/octokit.rb/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/octokit/octokit.rb/tags\",\"blobs_url\":\"https://api.github.com/repos/octokit/octokit.rb/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/octokit/octokit.rb/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/octokit/octokit.rb/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/octokit/octokit.rb/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/octokit/octokit.rb/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/octokit/octokit.rb/languages\",\"stargazers_url\":\"https://api.github.com/repos/octokit/octokit.rb/stargazers\",\"contributors_url\":\"https://api.github.com/repos/octokit/octokit.rb/contributors\",\"subscribers_url\":\"https://api.github.com/repos/octokit/octokit.rb/subscribers\",\"subscription_url\":\"https://api.github.com/repos/octokit/octokit.rb/subscription\",\"commits_url\":\"https://api.github.com/repos/octokit/octokit.rb/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/octokit/octokit.rb/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/octokit/octokit.rb/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/octokit/octokit.rb/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/octokit/octokit.rb/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/octokit/octokit.rb/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/octokit/octokit.rb/merges\",\"archive_url\":\"https://api.github.com/repos/octokit/octokit.rb/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/octokit/octokit.rb/downloads\",\"issues_url\":\"https://api.github.com/repos/octokit/octokit.rb/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/octokit/octokit.rb/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/octokit/octokit.rb/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/octokit/octokit.rb/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/octokit/octokit.rb/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/octokit/octokit.rb/releases{/id}\",\"created_at\":\"2009-12-10T21:41:49Z\",\"updated_at\":\"2013-12-27T23:30:29Z\",\"pushed_at\":\"2013-12-27T23:30:29Z\",\"git_url\":\"git://github.com/octokit/octokit.rb.git\",\"ssh_url\":\"git@github.com:octokit/octokit.rb.git\",\"clone_url\":\"https://github.com/octokit/octokit.rb.git\",\"svn_url\":\"https://github.com/octokit/octokit.rb\",\"homepage\":\"http://octokit.github.io/octokit.rb/\",\"size\":10756,\"stargazers_count\":1375,\"watchers_count\":1375,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":false,\"forks_count\":254,\"mirror_url\":null,\"open_issues_count\":7,\"forks\":254,\"open_issues\":7,\"watchers\":1375,\"default_branch\":\"master\",\"master_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true}}]"},"http_version":null},"recorded_at":"Sat, 28 Dec 2013 18:08:15 GMT"}],"recorded_with":"VCR 2.8.0"}