<div style='margin: 0 20px;'>
  <h3>You and the people you follow have starred <%= @starred.length %> repositories.</h3>
</div>

<div style="display: inline-block; vertical-align: top; margin: 0 20px;">
  <h3 style="width: 28em;">You and the people you follow share the following starred repositories in common:</h3>
  <ul>
  <% @shared_starred.each do |starred|  %>
    <li><%= starred.first %></li>
  <% end %>
  </ul>
</div>

